# Ignore everything by default
*

# Allow these directories
!/Classic-Reimagined/
!/Classic-Reimagined-Lite/
!/Classic-Reimagined-Modded/

# Allow everything inside these directories
/Classic-Reimagined/**
/Classic-Reimagined-Lite/**
/Classic-Reimagined-Modded/**

# Allow these files at root
!/.gitattributes
!/LICENSE
!/README.md
!/version_guide.xlsx
